/* Не удалось убрать рамку вокруг checkbox-ов */
/* fieldset в Chrome продолжает рамку под своим label */

@font-face {	/* -------------------------------------------------------- Для заголовков */
	font-family: "MerriWeather";
	src: url("Metrophobic-webfont.eot");
	src: local('!'),
		url("../../fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-HeavyItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-Italic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather_Light.ttf") format("truetype"),
		url("../../fonts/Merriweather-Bold.ttf") format("truetype"),
		url("../../fonts/Merriweather-Regular.ttf") format("truetype"),
		url("../../fonts/Merriweather-BoldItalic.ttf") format("truetype"),
		url("../../fonts/Merriweather_UltraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face { /* ---------------------------------------------------------- Для участков с кодом */
	font-family: "Anonymous"; 									/* Гарнитура шрифта */
	src: url("../../fonts/Anonymous.ttf");						/* Путь к файлу со шрифтом */
}

/* ----------------------------------------------------- Neuka - заголовки таблиц Kurale - списки */
@import url(http://fonts.googleapis.com/css?family=Neucha|Kurale&subset=latin,cyrillic,latin-ext);


/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
	height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== 
*/

/* ********************************************************************************* Fonts */
/*
* 1. Все размеры задаем в vh и vw, чтобы текст не вываливался из блоков 
*		при уменьшении размеров окна браузера
*/

/* Основной шрифт */
html { 
    line-height: 1.5;							/* Высота межстрочного интервала */
	font-family: "Comic Sans MS", "Verdana", sans-serif;
    font-size: 1.1vw;							/* Размер основного шрифта */
    color: darkslategray;						/* Цвет текста */
}

header {
	text-align: center;							/* Заголовочная часть по центру */
	text-transform: uppercase; 					/* Заголовки большими буквами */
	font-family: "MerriWeather", "Comic Sans MS", sans-serif;
	color: firebrick;
}

h3 {
	margin-left: 15vw; 							/* Заголовки поменьше - по левой стороне */
	text-transform: uppercase;					/* Тоже большими буквами */
	font-family: "MerriWeather", "Comic Sans MS", sans-serif;
	color: brown;
}

p {
	text-indent: 3vw;							/* Отступ первой строки */
}

/* Буквица: Первая буква в каждом абзаце увеличенного размера и выделена цветом */
p::first-letter {
	float: left; 								/* Обтекание по правому краю */
	margin-right: -3.1vw; 						/* text-indent отсчитывается от стилизованной 1-й буквы */
	margin-left: 1vw;
	line-height: 3vh; 							/* Положение относительно текста */
	font-size: 2vw;								/* Размер буквицы */
	color: lightcoral;		 					/* Цвет буквицы  */
}

q {
	font-style: italic; 						/* Курсивное начертание текста */
    color: darkslateblue; 						/* Синий цвет текста */
    quotes: "\00ab" "\00bb"; 					/* Кавычки в виде двойных угловых скобок */
}

code q {
	quotes: "\0027" "\0027";					/* Апостроф (одинарная кавычка) */
}

/* Все ссылки */
a {
	text-decoration: none;						/* Убираем подчеркивание */
	color: crimson;
}

/* Ссылки при наведении */
a:hover {
	color: darkorange;							/* Цвет ссылки при наведении */
	text-decoration: underline;					/* Показываем ссылку */
}

/* Ссылки крупнее, чем просто в тексте */
.medium-link {
	text-decoration: none;						/* Убираем подчеркивание */
	font-variant: small-caps; 					/* Прописные символы размером со строчные */
	font-size: 2vw;								/* Размер шрифта как у заголовков в таблице */
	font-weight: bold;							/* Полужирный шрифт */
	color: darkslateblue;						/* Цвет текста */
}

/* Посещенные ссылки */
.medium-link:visited {
	color: mediumorchid;						/* Цвет текста */
}

.medium-link:hover {
	text-decoration: underline;					/* Показываем ссылку */
	color: mediumpurple;						/* Цвет текста */
}

/* Блоки с кодом */
code {
	font-family: "Anonymous", "Courier", monospace; 
	font-size: 1.3vw;							/* Размер шрифта */
	font-weight: bold;							/* Полужирный шрифт */
}

dfn {
	font-style: normal;							/* Убрали курсив */
	font-weight: bold;							/* Полужирный шрифт */
	font-size: 1.2vw;							/* Шрифт на 0.1 больше основного */
	color: lightcoral;
}

em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}

/* Заголовки таблицы */
.responsive-table caption {	
	text-transform: uppercase;					/* Все буквы большие */
	font-family: "Neucha", cursive;
	font-size: 2vw;								/* Размер шрифта */
	font-weight: bold;							/* Полужирный шрифт */
	color: firebrick;
}

/* Заголовочная часть таблицы */
.responsive-table th {	
	text-align: center; 						/* Выравниваем текст заголовков по центру */
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 2vw; 							/* Размер шрифта заголовков */
	font-weight: bold;							/* Полужирное начертание */
	color: darkslategray;						/* Цвет шрифта заголовков */
}

.responsive-table th, 
details summary {
	text-transform: uppercase;					/* Все буквы большие */
	font-family: "Monotype Corsiva", monospace;	/* Шрифт */
}

/* Встроенная таблица */
.inner-table {
	font-size: 1.3vw;							/* Размер шрифта чуть меньше, чем основной */
}

article > ul li, 
article > ol li {
	line-height: 3.5vh;
	font-family: "Neucha", cursive;
	font-size: 1.2vw;
}

/* Подписи под картинками */ 
.float-figure figcaption {
	font-size: small; 							/* Уменьшенный размер шрифта */
	font-weight: bold;							/* Полужирный курсив */
	font-style: italic; 
}

.license {
	text-align: center;							/* Выравниваем по центру футера */
}

/* Запрещаем скролл */
textarea {
	overflow: hidden;
}

/* Текст подсказки */
::-webkit-input-placeholder { color: blueviolet; text-overflow: ellipsis; }
::-moz-placeholder          { color: blueviolet; text-overflow: ellipsis; }/* Firefox 19+ */
:-moz-placeholder           { color: blueviolet; text-overflow: ellipsis; }/* Firefox 18- */
:-ms-input-placeholder      { color: blueviolet; text-overflow: ellipsis; }

*:checked~label {
	font-weight: bold;
}

/* ********************************************************************************* Page-Proof */

/* 
* Размеры vw и vh отсчитываются от ширины/ высоты окна браузера, поэтому процентные размеры 
* для родительских элементов html и body можно не задавать
*/

/* Меняем блочную модель для всех элементов */
* {
	box-sizing: border-box;
}

body {
	margin: 2vh 2vw; 							/* Маленькие одинаковые отступы для всего */
}

main {
}

article {
	position: relative;							/* Для загнутых уголков */
	margin: 5vh 0.5vw;
	padding: 2vw;
}

/* Форматируем блок плавающего рисунка. */ 
.float-figure { 
	float: left; 								/* Пусть картинки в тексте плавают слева */
	margin-right: 10vw;							/* Отступ для текста */
}

.float-figure img {
	width: 15vw; 								/* Ширина блока с картинкой */
}

/* Форматируем текст подписи к рисунку */ 
.float-figure figcaption {
	max-width: 20vw; 							/* Задаем максимальную ширину для подписи */
	margin-bottom: 3vh;							/* Отступ снизу */
	margin-left: 47%;							/* ... и слева */
}

code {
	width: 65vw;								/* Ширина внутренних блоков кода */
	margin: 2vw auto;							/* Центрируем внутренние блоки кода */
}

footer {
	min-height: 10vh;							/* Высота футера */
}

/* ***************************************************************************** Lists Page-Proof */

/* Все маркированные списки в основном тексте */
article > ul,
article > ol {	
	margin-left: 5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

article > ul li {
	list-style-type: none; 						/* Убираем исходные маркеры */
    background: url("../img/ok.png"); 			/* Загружаем картинку */
	background-repeat: no-repeat;				/* Запрещаем ей повторяться */
	background-size: 1vw auto;					/* Делаем картинку резиновой */
	background-position: 0.1vw center;			/* Размещаем ее слева */
	padding: 0.2vh 2vw;							/* Задаем отступы сверху и снизу */
}

/* ***************************************************************************** Tables Page-Proof */

/* Стиль для больших таблиц на всю страницу */
.responsive-table {
	width: 90vw; 								/* Ширина таблицы */
	margin: 0 auto; 							/* Центрируем таблицу по горизонтали */
}

.responsive-table caption {						/* Заголовок таблицы */
	margin-top: 2vh;
	margin-bottom: 5vh;
}

.responsive-table td, 
.responsive-table th {
	padding: 1vw; 								/* Внутренние отступы */
}

/* Заголовок большой таблицы */
.responsive-table thead tr th {
	height: 10vh;	/* Высота у таблицы не задана, поэтому отсчитываем ее от высоты окна браузера */
}

.responsive-table tr td:first-child { 			/* В первую колонку не влазит заголовок */
	width: 20vw;								/* Ширина первой колонки таблицы */
}

/* Стиль для внутренних таблиц */
.inner-table {
	 width: 75vw; 								/* Ширина внутренней таблицы */
	 margin: 2vw auto;							/* Центрируем внутреннюю таблицу */
 }

/* ***************************************************************************** Forms Page-Proof */

form {
	padding: 1vw;
}

fieldset {
	display: inline-block;
	padding: 2vh 1vw;
	margin: 2vh 1vw;
	vertical-align: top;
	width: 40vw;
}

legend {
	padding: 0 1vw;
	font-weight: bold;
	font-variant: small-caps;
}

label {
	display: inline-block;
	vertical-align: top;
	width: 8vw;
	margin: 0.5vw;
}

input, 
textarea,
select {
	width: 15vw;
	padding: 1vh 1vw;
	margin: 1vh 2vw;
}

textarea {
	height: 10vh;
}

select {
}

input[type="checkbox"],
input[type="radio"] {
	width: 2vw;
	height: 3vh;
}

input[type="button"],
input[type="file"],
progress {
	width: 12vw;
	padding: 0.1vw;
}

progress {
	height: 5vh;
 	width: 83vw;
	margin-top: 3vh;
}

/* ********************************************************************************* Borders */

fieldset {
	border: 3px groove darkslategray;
	border-radius: 10px;
}

input,
input:focus, /* Убираем рамки при выделении, так как они не совпадают со скругленными уголками */
input[type="range"],
input[type="range"]:focus,
input[type="checkbox"],
input[type="checkbox"]:focus,
input[type="radio"],
input[type="radio"]:focus,
textarea,
textarea:focus,
select,
select:focus,
progress { 
	outline: none; /* убирает пунктирную рамку только у текстовых полей и селектов */
	border: 2px solid darkslategray;
	border-radius: 10px;
}

/* Некорректно заполненные поля формы */
:invalid, 
:out-of-range {
	border: 2px solid red;
}

/* Корректно заполненные поля формы */
:valid,
:in-range {
	border: 2px solid green;
}

/* Поля формы обязательные для заполнения */
:required {
	border: 2px solid lightCoral;
}

.responsive-table,
form {	
	border-collapse: collapse;					/* Соединяем рамки таблицы */
	border: 5px groove lightslategray;			/* Рамка для таблицы */	
}

.responsive-table td, 
.responsive-table th,
footer {
	border: 2px inset lightslategray;			/* Рамка для ячеек */
}

.inner-table, 
.inner-table th, 
.inner-table tr, 
.inner-table td {
	border: 2px ridge darkslategray;   			/* Рамки вложенных таблиц */
}

footer {
	border-bottom-left-radius: 50px 120px; 		/* Скругленные уголки */
	border-bottom-right-radius: 50px 120px;
}

/* ********************************************************************************* Backgrounds */

.responsive-table tr:hover { 							/* Подсветка рядов таблицы */	
	background: 
		radial-gradient(circle at 2.02% 52.07%, #ece9e6, transparent 100%),
		radial-gradient(circle at 97.98% 26.97%, #fff, transparent 100%),
		radial-gradient(circle at 50% 50%, #000, #000 100%)			
}

/* --------------------------------------------------------------------------------- Gradients -- */

html { 													/* Градиент страницы */
	background: 
		radial-gradient(circle at 2.02% 72.90%, #abbaab, transparent 100%),
		radial-gradient(circle at 97.98% 17.89%, #ffffff, transparent 100%),
		radial-gradient(circle at 50.00% 49.93%, rgba(255,255,255,0.5), transparent 100%),
		radial-gradient(circle at 50% 50%, #000000, #000000 100%)
}										

article { 												/* Самый большой блок на странице */
	background:
		radial-gradient(circle at 2.02% 16.02%, #ffeeee, transparent 100%),
		radial-gradient(circle at 97.98% 25.90%, #ddefbb, transparent 100%),
		radial-gradient(circle at 50% 50%, #f8e57d, #f8e57d 100%)
}

.responsive-table thead,
details summary {										/* Градиент заголовков таблиц */
	background-color: rgb(197,199,214);		
	background-image:         
		linear-gradient(to bottom, rgba(197,199,214, 0.2), rgba(14,100,63, 0.2));
}

.responsive-table, 
:focus {										/* Градиент фона большой таблицы */			
	background:
		radial-gradient(circle at 2.02% 32.98%, #eeefff, transparent 70%),
		radial-gradient(circle at 97.98% 52.07%, #e4eab5, transparent 70%),
		radial-gradient(circle at 50% 50%, #e9edef, #e9edef 100%)
}

input[type="submit"],
input[type="reset"],
input[type="file"],
select, 
-webkit-progress-bar {
	background:
		radial-gradient(circle at 2.02% 32.98%, rgba(216, 195, 202, 0.83), transparent 60%),
		radial-gradient(circle at 50% 50%, rgba(185, 214, 105, 0.3), rgba(185, 214, 105, 0.42) 100%)
}

footer {
	background: 
		radial-gradient(circle at 2.02% 72.90%, #626962, transparent 100%);
}

/* ********************************************************************************* Shadows */

/* Внутренняя тень для блоков с загнутыми уголками */
article, 
.interesting,
.source-links,
 form {	
	-webkit-box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
		-moz-box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
			box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
}

/* Сами загнутые уголки */
article:before, 
article:after {
	content: ' ';
	position: absolute;
	width: 45vw;														/* размеры прозрачных полосок */
	height: 3vh;
	left: 1.5vw;											/* Расстояние от левого края для левой полоски */
	bottom: 4vh;											/* Расстояние снизу для левой полоски */
	background: transparent;

	-webkit-transform: skew(-5deg) rotate(-5deg); 					/* немного поворачиваем полоски */
		-moz-transform: skew(-5deg) rotate(-5deg);
			-ms-transform: skew(-5deg) rotate(-5deg);
				-o-transform: skew(-15deg) rotate(-5deg);
					transform: skew(-5deg) rotate(-5deg);
	
	-webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
			box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
	
	z-index: -1; 									/* прячем полоски под элемент с position absolute */
}

/* Правая полоска*/
article:after {
	left: auto;
	right: 1.5vw; 									/* Расстояние от правого края для правой полоски */

	-webkit-transform: skew(5deg) rotate(5deg); 									/* задаем перекосы */
		-moz-transform: skew(5deg) rotate(5deg);
			-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
					transform: skew(5deg) rotate(5deg);
}

/* Тень футера */
.responsive-table,
footer {
	box-shadow: 0px 0px 15px darkslategray;
 }

input,
textarea,
select {
	box-shadow:	0px 0px 1px darkslategray inset,
				1px 1px 2px lightGreen inset,
				2px 2px 3px mistyRose inset;
}

/* ********************************************************************************* Misc */

hr {	
	border: 0;
    height: 5px;
	
    background:
		-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
			-moz-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
				-o-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
					-ms-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
						linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
}		

/* Текстовые блоки "Интересно", "Важно" и прочие */
.text-block {
	background-repeat: no-repeat; 					/* Запрещаем картинке повторяться */
	background-size: 5vw auto;						/* Делаем ее маленькой */
	background-position: 1vw center;				/* Клеим к левому краю */
	padding: 2vh 7vw;								/* Отодвигаем текст */
	border-radius: 10px;							/* Скругляем уголки */
}

/* Блок - "Это интересно" */
.interesting {
	background-image: url("../img/interesting.png");	
	border: 0.5vw double lightcoral;
}

/* Блок со ссылками на источник */
.source-links {
	background-image: url("../img/source.png");
	border: 0.5vw double lightcyan;
}

.source-links a {	
	text-decoration: none; 						/* Убираем подчеркивание у ссылок */
	color: darkslateblue;
}

.source-links a:visited {
	color: lightslategray;
}

/* ----------------------------------------------- Details -- */

details[open] summary,
details[open] > code {
	display: block;			/* иначе невозможно расположить внутренние элементы */
}

details summary::-webkit-details-marker {
	display: none; 			/* прячем родной значок */
}

details summary {
  	padding: 5px;			/* размер блока */
	cursor: pointer;	 	/* курсор-указатель */
}

details summary:before,
details[open] summary:before {
	content: " ⇓ ";			/* значок */
	font-size: 2em;			/* размер значка */
	color: darkslategray;	/* цвет значка в открытом состоянии */
	margin-right: 5px;		/* расстояние от левого края до текста */
}

details[open] summary:before {
	content: " ⇑ ";			/* значок в закрытом состоянии */
}


/* ********************************************************************************* Animations */


/* ==========================================================================
   Helper classes
   ========================================================================== */
	  
/*
 * Hide visually and from screen readers:
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
