/* FUTURE FONTS IIMPORTED */

/* -------------------------------------------------------- Neuka - заголовки таблиц Kurale - списки */

@import url(http://fonts.googleapis.com/css?family=Neucha|Kurale&subset=latin,cyrillic,latin-ext);
@import url(http://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic-ext,latin-ext); /* Для строки с кодом */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono&subset=cyrillic-ext,latin); /* Для кнопок */

/* -------------------------------------------------------- Для заголовков */

@font-face {	
	
	font-family: "MerriWeather";
	src: url("Metrophobic-webfont.eot");
	src: local('!'),
		url("../../fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-HeavyItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-Italic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather-LightItalic.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/Merriweather_Light.ttf") format("truetype"),
		url("../../fonts/Merriweather-Bold.ttf") format("truetype"),
		url("../../fonts/Merriweather-Regular.ttf") format("truetype"),
		url("../../fonts/Merriweather-BoldItalic.ttf") format("truetype"),
		url("../../fonts/Merriweather_UltraBold.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

/* -------------------------------------------------------- Для участков с кодом */

@font-face { 
	
	font-family: "Anonymous"; 									/* Гарнитура шрифта */
	src: url("../../fonts/Anonymous.ttf");						/* Путь к файлу со шрифтом */
}

/* FIXME Не удалось убрать рамку вокруг checkbox-ов */
/* FIXME Fieldset в Chrome продолжает рамку под своим label */


/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
	height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

/*textarea {
 *   resize: vertical;
/*}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== 
*/

/* NOTE Все размеры задаем в vh и vw, чтобы текст не вываливался из блоковп при уменьшении размеров окна браузера */

/* FUTURE USER STYLES START */

/* FUTURE FONTS */
/* ---------------------------------------------------------------------------------- Основной шрифт */

html { 
    line-height: 1.5;							/* Высота межстрочного интервала */
    font-size: 1.1vw;							/* Размер основного шрифта */
	font-family: "Comic Sans MS", "Verdana", sans-serif;
    color: darkslategray;						/* Цвет текста */
}

p {
	text-indent: 3vw;							/* Отступ первой строки */
}

em {
	font-weight: bold;							/* Полужирный шрифт */
	font-style: normal;							/* Некурсивное начертание */
	color: #ff0000;
}

/* Footer */
.license {
	text-align: center;							/* Выравниваем по центру футера */
}

/* FUTURE Heading Fonts */
/* ---------------------------------------------------------------------------------- Заголовки */

header {
	text-transform: uppercase; 					/* Заголовки большими буквами */
	text-align: center;							/* Заголовочная часть по центру */
	font-family: "MerriWeather", "Arial", sans-serif;
	color: firebrick;
}

h3 {
	text-transform: uppercase;					/* Тоже большими буквами */
	margin-left: 15vw; 							/* Заголовки поменьше - по левой стороне */
	font-family: "MerriWeather", "Comic Sans MS", sans-serif;
	color: brown;
}

/* Заголовки таблицы */
.responsive-table caption {	
	text-transform: uppercase;					/* Все буквы большие */
	font-weight: bold;							/* Полужирный шрифт */
	font-size: 2vw;								/* Размер шрифта */
	font-family: "Neucha", cursive;				/* Шрифт */
	color: firebrick;
}

/* Заголовочная часть таблицы */
.responsive-table th {	
	text-align: center; 						/* Выравниваем текст заголовков по центру */
	font-weight: bold;							/* Полужирное начертание */
	font-size: 2vw; 							/* Размер шрифта заголовков */
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	color: darkslategray;						/* Цвет шрифта заголовков */
}

.responsive-table th, 
details summary {
	text-transform: uppercase;					/* Все буквы большие */
	font-family: "Monotype Corsiva", monospace;	/* Шрифт */
}

/* Встроенные таблицы */
.inner-table {
	font-size: 1.3vw;							/* Размер шрифта чуть меньше, чем основной */
}

/* FUTURE Links Fonts */
/* ---------------------------------------------------------------------------------- Cсылки на странице */

a {
	text-decoration: none;						/* Убираем подчеркивание */
	color: crimson;
}

/* Ссылки при наведении */
a:hover {
	text-decoration: underline;					/* Показываем ссылку */
	color: darkorange;							/* Цвет ссылки при наведении */
}

/* Ссылки крупнее, чем просто в тексте */
.medium-link {
	text-decoration: none;						/* Убираем подчеркивание */
	font-variant: small-caps; 					/* Прописные символы размером со строчные */
	font-weight: bold;							/* Полужирный шрифт */
	font-size: 2vw;								/* Размер шрифта как у заголовков в таблице */
	color: darkslateblue;						/* Цвет текста */
}

/* Посещенные ссылки */
.medium-link:visited {
	color: mediumorchid;						/* Цвет текста */
}

/* Посещенные ссылки при наведении */
.medium-link:hover {
	text-decoration: underline;					/* Показываем ссылку */
	color: mediumpurple;						/* Цвет текста */
}

/* ---------------------------------------------------------------------------------- Cсылки для текстовых блоков */

.source-links a {	
	text-decoration: none; 						/* Убираем подчеркивание у ссылок */
	color: darkslateblue;
}

.source-links a:visited {
	color: lightslategray;
}

/* FUTURE Image Fonts */
/* ---------------------------------------------------------------------------------- Подписи под картинками */ 

/* Форматируем текст подписи к рисунку */ 
.float-figure figcaption {
	font-size: small; 							/* Уменьшенный размер шрифта */
	font-weight: bold;							/* Полужирный курсив */
	font-style: italic; 
}

/* FUTURE Definition Fonts */
/* ---------------------------------------------------------------------------------- Определения в тексте */

dfn {
	font-style: normal;							/* Убрали курсив */
	font-weight: bold;							/* Полужирный шрифт */
	font-size: 1.2vw;							/* Шрифт на 0.1 больше основного */
	color: lightcoral;
}

/* FUTURE Quotes Font */
/* ---------------------------------------------------------------------------------- Кавычки */

q {
	font-style: italic; 						/* Курсивное начертание текста */
    color: darkslateblue; 						/* Синий цвет текста */
    quotes: "\00ab" "\00bb"; 					/* Кавычки в виде двойных угловых скобок */
}

/* FUTURE CodeBlocks Fonts */
/* ---------------------------------------------------------------------------------- Блоки с кодом */

code {
	font-family: "Anonymous", "Courier", monospace; 
	font-size: 1.3vw;							/* Размер шрифта */
	font-weight: bold;							/* Полужирный шрифт */
}

code q {
	quotes: "\0027" "\0027";					/* Апостроф (одинарная кавычка) */
}

#codeString {
	font-family: "Anonymous", "Courier", monospace; 
	font-size: 1.3vw;							/* Размер шрифта */
	font-weight: bold;							/* Полужирный шрифт */
	color: cyan;
}

/* ---------------------------------------------------------------------------------- Блоки с кнопками */

.serverButton {
	display: block;								/* Пока что будут по всей ширине страницы сверху */
}

.apiButtons button,
.apiButtons input[type='number'] {
	text-align: left;
	font-family: 'Ubuntu Mono', "Courier", monospace; 
	font-size: 1.3vw;							/* Размер шрифта */
	font-weight: bold;							/* Полужирный шрифт */
	color: darkred;
}

.apiButtons input[type='number'] {
	font-size: 1vw;
}

/* FUTURE Links Fonts */
/* ---------------------------------------------------------------------------------- Списки в основном тексте */

article > ul li, 
article > ol li {
	line-height: 3.5vh;							/* Высота линии */
	font-family: "Neucha", cursive;				/* Шрифт */
	font-size: 1.2vw;							/* Размер шрифта */
}

/* FUTURE Form Fonts */
/* ---------------------------------------------------------------------------------- Таблицы */

/* Текст подсказки */
::-webkit-input-placeholder { color: blueviolet; text-overflow: ellipsis; }
	::-moz-placeholder          { color: blueviolet; text-overflow: ellipsis; }
		:-moz-placeholder           { color: blueviolet; text-overflow: ellipsis; }
			:-ms-input-placeholder      { color: blueviolet; text-overflow: ellipsis; }

/* Отмеченные поля */
*:checked~label {
	font-weight: bold;
}

#localItemsList tr td,
#sessionItemsList tr td {
	font-variant: small-caps;
	font-size: 1.5vw;
	font-weight: bold;
	color: darkmagenta;
}

legend {
	font-size: 1.5vw;
	font-weight: bold;							/* Пишем полужирным шрифтом */
	font-variant: small-caps;					/* Маленькими/ большими буквами */
}

/* FUTURE Fonts Misc */
/* ---------------------------------------------------------------------------------- Кнопки под плейером */

/* Панель с кнопками под плейером */
.panel button,
.panel outline {
	text-transform: uppercase;					/* Пишем большими буквами */
	font-weight: bold;							/* Полужирный шрифт */
	text-align: center;							/* Текст в центре */
	font-size: 1.1vw;							/* Размер шрифта */
}

/* Ползунок для видео */
#volumeCtrl, 
#videoProgress,
output {
	text-align: center;							/* Текст в центре */
}

/* ---------------------------------------------------------------------------------- Буквица */

p::first-letter {
	float: left; 								/* Обтекание по левому краю */
	margin-right: -3.1vw; 						/* text-indent отсчитывается от стилизованной 1-й буквы */
	margin-left: 1vw;
	line-height: 1.8vh; 						/* Положение относительно текста */
	font-size: 2vw;								/* Размер буквицы */
	color: lightcoral;		 					/* Цвет буквицы  */
}

/* Приводим в нормальный вид первую букву для 3D-текста, так как на нее влияет p:first-letter */
.text-3d::first-letter {
	float: none;
	color: inherit;
	font-size: inherit;
	margin: inherit;
}

/* ---------------------------------------------------------------------------------- 3D Text */

.text-3d {
	font-size: 4vw;
	font-weight: bold;
	margin: 1vw 0;
	color: #fff;
	padding: 1vw;
	text-shadow:
		-1px 1px 0 #ddd,
		-2px 2px 0 #c8c8c8,
		-3px 3px 0 #ccc,
		-4px 4px 0 #b8b8b8,
		-4px 4px 0 #bbb,
			0px 1px 1px rgba(0,0,0,.4),
			0px 2px 2px rgba(0,0,0,.3),
				-1px 3px 3px rgba(0,0,0,.2),
				-1px 5px 5px rgba(0,0,0,.1),
					-2px 8px 8px rgba(0,0,0,.1),
					-2px 13px 13px rgba(0,0,0,.1);
}

/* -------------------------------------------------------------------------- Шрифт для динамических элементов */

.dinamic {
	font-size: 1.3vw;
	font-weight: bold;
	color: darkred;
}

/* FUTURE PAGE-PROOF */
/* ---------------------------------------------------------------------------------- Общие правила верстки */

/* Меняем блочную модель для всех элементов */
* {
	box-sizing: border-box;
}

body {
	margin: 1vh 1vw; 							/* Маленькие одинаковые отступы для всего */
}

article {
	position: relative;							/* Для загнутых уголков */
	margin: 5vh 0.5vw;
	padding: 2vw;
	min-height: 90vh;
	min-width: 460px;
}

#storageData {
	display: block;
	margin: 1vw auto;
	padding: 1vw;
	width: 75vw;
	overflow: hidden;
}

/* ---------------------------------------------------------------------------------- Блоки с кодом */

code {
	width: 65vw;								/* Ширина внутренних блоков кода */
	margin: 2vw auto;							/* Центрируем внутренние блоки кода */
}

pre {
	tab-size: 4;								/* Размер табуляции */
}

#codeString {
	float: left;
	width: 15vw;
	max-width: 69vw;
	height: 80vh;
	z-index: 100;
	margin-left: 0;
}

/* ---------------------------------------------------------------------------------- Блоки с текстом */

/* Текстовые блоки "Интересно", "Важно" и прочие */
.text-block {
	padding: 2vh 7vw;								/* Отодвигаем текст */
}

/* ---------------------------------------------------------------------------------- Блоки с кнопками */

.apiButtons {
	float: right;
	width: 16vw;
	height: 80vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.serverButtons {
	display: block;
	margin-bottom: 0;
	text-align: left;
}

/* ---------------------------------------------------------------------------------- Рисунки в тексте */

/* Форматируем блок плавающего рисунка. */ 
.float-figure { 
	float: left; 								/* Пусть картинки в тексте плавают слева */
	margin-right: 10vw;							/* Отступ для текста */
}

.float-figure figcaption {
	max-width: 20vw; 							/* Задаем максимальную ширину для подписи */
	margin-bottom: 3vh;							/* Отступ снизу */
	margin-left: 47%;							/* ... и слева */
}

.float-figure img {
	width: 15vw; 								/* Ширина блока с картинкой */
}

/* ---------------------------------------------------------------------------------- Details Page Proof  */

details[open] summary,
details[open] > code {
	display: block;								/* иначе невозможно расположить внутренние элементы */
}

details summary::-webkit-details-marker {
	display: none;								/* прячем родной значок */
}

details summary {
	padding: 5px;								/* размер блока */
}

details summary:before,
details[open] summary:before {
	content: " ⇓ ";								/* значок в открытом состоянии */
	font-size: 2em;								/* размер значка */
	color: darkslategray;						/* цвет значка в открытом состоянии */
	margin-right: 5px;							/* расстояние от левого края до текста */
}

details[open] summary:before {
	content: " ⇑ ";								/* значок в закрытом состоянии */
}

/* ---------------------------------------------------------------------------------- Футер */

footer {
	clear: both;
	min-height: 10vh;							/* Высота футера */
}

/* FUTURE Tables Page-Proof */
/* ---------------------------------------------------------------------------------- Таблицы */

/* Правила для больших таблиц на всю страницу */
.responsive-table {
	width: 90vw; 								/* Ширина таблицы */
	margin: 0 auto; 							/* Центрируем таблицу по горизонтали */
}

/* Заголовок больших таблиц */
.responsive-table caption {						
	margin-top: 2vh;							/* Поля для заголовка */
	margin-bottom: 5vh;
}

/* Заголовочная часть больших таблиц */
.responsive-table thead tr th {
	height: 10vh;								/* Высота заголовочной части */
}

.responsive-table td, 
.responsive-table th {
	padding: 1vw; 								/* Отступы в заголовочной части */
}

/* Тело больших таблиц */
.responsive-table tr td:first-child { 			/* В первую колонку не влазит заголовок */
	width: 20vw;								/* Задаем ей подходящую ширину */
}

/* Правила для внутренних таблиц */
.inner-table {
	width: 75vw; 								/* Ширина внутренней таблицы */
	margin: 2vw auto;							/* Центрируем внутреннюю таблицу */
}

#localItemsList {
	float: left;
	width: 73vw;
	margin: 1vh auto;
}

#sessionItemsList {
	float: right;
	width: 73vw;
	margin: 1vh auto;
}

#localItemsList tr td,
#sessionItemsList tr td {
	padding: 1vw;
}

/* FUTURE Lists Page Proof */
/* ---------------------------------------------------------------------------------- Списки */

/* Правила для списков непосредственно в <article> еще есть в summary */
article > ul,
article > ol {	
	margin-left: 5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
}

article > ul li {
	list-style-type: none; 						/* Убираем исходные маркеры */
	background: url("../img/ok.png"); 			/* Загружаем картинку */
	background-repeat: no-repeat;				/* Запрещаем ей повторяться */
	background-size: 1vw auto;					/* Делаем картинку резиновой */
	background-position: 0.1vw center;			/* Размещаем ее слева */
	padding: 0.2vh 2vw;							/* Задаем отступы сверху и снизу */
}

/* FUTURE Form Page Proof */
/* ---------------------------------------------------------------------------------- Формы */

form {
	padding: 1vw;								/* Внутренний отступ */
}

.fieldsetWrap {
	width: 80vw;
}

.fieldsetWrap fieldset {
	width: 35vw;
}

fieldset {
	display: inline-block;						/* Показываем по 2 филдсета в ряд */
	vertical-align: top;						/* Выравниваем их по верхней линии */
	margin: 2vh 1vw;							/* Поля */
	padding: 2vh 1vw;							/* Отступы */
	width: 40vw;								/* Задаем только ширину, чтобы можно было добавлять содержимое */
	outline: 0;
}

legend {
	padding: 0 1vw;								/* Выравниваем по центру */
}

label {
	display: inline-block;						/* Размещаем в один ряд с кнопками */
	vertical-align: top;						/* Выравниваем их по верхней линии */
	margin: 0.5vw;								/* Поля */
	width: 8vw;									/* Ширина */
}

/* Инпуты */
input, 
textarea,
select {
	margin: 1vh 2vw;							/* Поля */
	padding: 1vh 1vw;							/* Отступы */
	width: 15vw;
}

textarea {
	height: 10vh;
	overflow: hidden;							/* Запрещаем скролл */
}

input[type="checkbox"],
input[type="radio"] {
	width: 2vw;
	height: 3vh;
}

input[type="button"],
input[type="file"],
.apiButtons input[type='number'] {
	width: 14vw;
	padding: 0.3vw;								/* Отступы */
}

.apiButtons input[type='number'] {
	margin: 0.2vw;
}

progress,
output {
	display: block;
	margin: 3vh auto;
	padding: 1vw;								/* Отступы */
	height: 5vh;
	width: 83vw;
}

/* FUTURE Frames Page Proof */
/* ---------------------------------------------------------------------------------- Фреймы */

iframe {
	position: absolute;
	width: 97vw;
	min-height: 80vh;
	margin-right: -20vw;
	padding-left: -50vw;
	padding-top: 0;
}

/* FUTURE Canvas Page Proof */
/* ---------------------------------------------------------------------------------- Canvas */

/* FIXME Кривой Canvas */
/* Canvas */
#canvasField {
	position: relative;									/* Чтобы скрытая картинка для сохранения далеко не убегала */
}

/* FIXME Кривая картинка */
/* Блок для картинки */
#savedCopyContainer,
#savedImageCopy {
	display: none;										/* Сначала прячем */
	position: absolute;									/* Позиционируем */
	top: 4%; left: 5%; right: 80%; 
	width: 600px;
	height: 350px;
}

#savedImageCopy {
	margin: 10px;
	width: 550px;
	height: 300px;
	
}

#savedCopyContainer p {
	margin-top: 300px;
}

/* FUTURE Media Page Proof */
/* ---------------------------------------------------------------------------------- Плейер */

/* FIXME С Video все как-то некошерно */
video {
	display: block;								/* Отображаем как блок, чтобы было можно центрировать */
	width: 41vw;								/* Подбираем ширину до вертикальных полос прокрутки */
	margin: 5vh auto;							/* Центрируем и немножко отодвигаем сверху */
}

/* Панелька с кнопками для плейера */
.panel {
	position: relative;							/* ????????????????????? */
	margin: 2vh auto;
	width: 80vw;
	height: 15vh;
}

/* Ползунок для видео */
#volumeCtrl, 
#videoProgress,
output {
	position: relative;							/* ????????????????????? */
	display: block;								/* ????????????????????? */
	margin: 2vh auto;
	padding: 0.5vh;
	width: 45vw;
	height: 4vh;
}

/* FUTURE BUTTONS && CURSORS */
/* ---------------------------------------------------------------------------------- BUTTONS PAGE-PROOF */

/* Кнопки для плейера */
.panel button {
	display: inline-block;
	margin: 0.2vw auto;
}

.apiButtons button {
	position: relative; 						/* Чтобы сработал z-index */
	width: 16vw;
	z-index: 100;								/* Выдвигаем вперед */
}

details summary {
	cursor: pointer;	 						/* курсор-указатель */
}

/* FEATURE Custom scroll */

/* Скроллбар */
::-webkit-scrollbar {
	width: 18px;
	height: 18px;
}

/* Кнопка вверх/ вниз */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
	height: 5px;
	display: block;
	background-color: transparent;
}

/* Трек */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	border-radius: 10px;
}

/* Видимая часть трека */
::-webkit-scrollbar-track-piece  {
	background-color: lightsteelblue;
	-webkit-border-radius: 6px;
}

/* ползунок */
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color: darkcyan;
	border: 1px solid #eee;
	-webkit-border-radius: 6px;
}

/* FUTURE BORDERS */
/* ---------------------------------------------------------------------------------- Бордюры для Canvas */

#canvasField,
#savedCopyContainer {
	border: 2px dashed darkslategray;
}

#codeString,
.apiButtons {
	border: 5px solid darkslategray;
}

/* ---------------------------------------------------------------------------------- Бордюры для текстовых блоков */

/* Текстовые блоки "Интересно", "Важно" и прочие */
.text-block {
	border-radius: 10px;
}

/* Блок - "Это интересно" */
.interesting {
	border: 0.5vw double lightcoral;
}

/* Блок со ссылками на источник */
.source-links {
	border: 0.5vw double lightcyan;
}

/* ---------------------------------------------------------------------------------- Бордюры для таблиц */

.responsive-table,
form {	
	border-collapse: collapse;					/* Соединяем рамки таблицы */
	border: 5px groove lightslategray;			/* Рамка для таблицы */	
}

.responsive-table td, 
.responsive-table th,
footer {
	border: 2px inset lightslategray;			/* Рамка для ячеек */
}

.inner-table, 
.inner-table th, 
.inner-table tr, 
.inner-table td {
	border: 2px ridge darkslategray;   			/* Рамки вложенных таблиц */
}

#localItemsList tr>td,
#sessionItemsList tr>td {
	border: 5px solid darkgreen;
}

footer {
	border-bottom-left-radius: 50px 120px; 		/* Скругленные уголки */
	border-bottom-right-radius: 50px 120px;
}

/* ---------------------------------------------------------------------------------- Бордюры для форм */

fieldset {
	border: 3px groove darkslategray;
	border-radius: 10px;
}

fieldset,
input,
input:focus,				/* Убираем рамки при выделении, так как они не совпадают со скругленными уголками */
input[type="range"],
input[type="range"]:focus,
input[type="checkbox"],
input[type="checkbox"]:focus,
input[type="radio"],
input[type="radio"]:focus,
textarea,
textarea:focus,
select,
select:focus,
progress,
output,
.apiButtons { 
	outline: none;			/* Убираем пунктирную рамку только у текстовых полей и селектов */
	border: 2px solid darkslategray;
	border-radius: 10px;
}

/* Стилизуем ползунок для Opera и Chrome */
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #ffeeee;
	border: 1px solid darkslategray;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}

/* Прячем стандартный ползунок для Opera и Chrome */
input[type='range'] {
	-webkit-appearance: none;
} 

/* ---------------------------------------------------------------------------------- HTML5 Валидация полей форм */

/* Некорректно заполненные поля формы */
:invalid, 
:out-of-range {
	border: 2px solid red;
}

/* Корректно заполненные поля формы */
:valid,
:in-range {
	border: 2px solid green;
}

/* Поля формы обязательные для заполнения */
:required {
	border: 2px solid lightCoral;
}

/* ---------------------------------------------------------------------------------- Бордюры для плейера */

.panel button {
	border-radius: 5px;
}

/* ---------------------------------------------------------------------------------- Бордюры для MISC */

.text-3d {
	border: 2vw solid white;
}

/* FUTURE BACKGROUNDS */
/* ---------------------------------------------------------------------------------- Backgrounds */

.frameHTML {
	background: url('http://www.subtlepatterns.com/patterns/white_leather.png');
}

#canvasField  {
	background: url('http://www.subtlepatterns.com/patterns/pink_rice.png');
	margin: 0;
}

.apiButtons button,
.apiButtons input {
	opacity: .6;
}

.apiButtons button:hover,
.apiButtons input:hover {
	opacity: 1;
}

#codeString {
	background: url('../img/peacock-blues.png');
	opacity: .4;
}

progress::-webkit-progress-value {
	background-color: lightgreen;
}

/* ---------------------------------------------------------------------------------- Фон для блоков с текстом */

/* Текстовые блоки "Интересно", "Важно" и прочие */
.text-block {
	background-repeat: no-repeat; 					/* Запрещаем картинке повторяться */
	background-size: 5vw auto;						/* Делаем ее маленькой */
	background-position: 1vw center;				/* Клеим к левому краю */
}

/* Блок - "Это интересно" */
.interesting {
	background-image: url("../img/interesting.png");
}

/* Блок со ссылками на источник */
.source-links {
	background-image: url("../img/source.png");
}

/* FUTURE GRADIENTS */
/* ---------------------------------------------------------------------------------- Page Gradients */

html { 
	background: 
		radial-gradient(circle at 2.02% 72.90%, #cecece, transparent 100%),
		radial-gradient(circle at 97.98% 17.89%, #ffffff, transparent 100%),
		radial-gradient(circle at 50.00% 49.93%, rgba(255,255,255,0.5), transparent 100%),
		radial-gradient(circle at 50% 50%, #000000, #000000 100%)
}										

article,
#localItemsList tr td,
#sessionItemsList tr td { 			
	background:
		radial-gradient(circle at 2.02% 16.02%, #ffeeee, transparent 100%),
		radial-gradient(circle at 97.98% 25.90%, #ddefbb, transparent 100%),
		radial-gradient(circle at 50% 50%, #f8e57d, #f8e57d 100%)
}

footer {
	background: 
		radial-gradient(circle at 2.02% 72.90%, #626962, transparent 100%);
}

/* ---------------------------------------------------------------------------------- Tables Gradients */

/* Градиент фона большой таблицы */
:focus,
.responsive-table,
progress::-webkit-progress-bar {										
	background:
		radial-gradient(circle at 2.02% 32.98%, #eeefff, transparent 70%),
		radial-gradient(circle at 97.98% 52.07%, #e4eab5, transparent 70%),
		radial-gradient(circle at 50% 50%, #e9edef, #e9edef 100%)
}

/* Градиент заголовков таблиц */
.responsive-table thead,
details summary {										
	background-color: rgb(197,199,214);		
	background-image:         
		linear-gradient(to bottom, rgba(197,199,214, 0.2), rgba(14,100,63, 0.2));
}

.responsive-table tr:hover,
.apiButtons button { 							/* Подсветка рядов таблицы */	
	background: 
		radial-gradient(circle at 2.02% 52.07%, #ece9e6, transparent 100%),
		radial-gradient(circle at 97.98% 26.97%, #fff, transparent 100%),
		radial-gradient(circle at 50% 50%, #000, #000 100%)			
}

/* ---------------------------------------------------------------------------------- Forms Gradients */

input[type="submit"],
input[type="reset"],
input[type="file"],
select,
.panel button {
	background:
		radial-gradient(circle at 2.02% 32.98%, rgba(216, 195, 202, 0.83), transparent 60%),
		radial-gradient(circle at 50% 50%, rgba(185, 214, 105, 0.3), rgba(185, 214, 105, 0.42) 100%)
}

/* ---------------------------------------------------------------------------------- Media Gradients */

/* Градиент для плейера */
progress::-webkit-progress-value,
input[type="range"],
.panel button:focus {
	background-image:         
		linear-gradient(to right, rgba(128, 247, 123, 0.3), rgba(27, 49, 2, 0.6));	
}

/* FUTURE SHADOWS */
/* ---------------------------------------------------------------------------------- Page Shadows */

article, 
.interesting,
.source-links,
form {
	-webkit-box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
		-moz-box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
			box-shadow: 0 5px 10px rgba(65, 89, 123, 0.8), inset 0 0 50px rgba(158, 185, 204, 0.52);
}

/* Тень по всем 4-м сторонам */
.apiButtons,
#codeString {
	position: relative;
	z-index: 100;
	
	-webkit-box-shadow: 0px 1px 15px 8px rgba(107, 146, 132, 0.63);
		-moz-box-shadow:    0px 1px 15px 8px rgba(107, 146, 132, 0.63);
			box-shadow:         0px 1px 15px 8px rgba(107, 146, 132, 0.63);
}

hr {	
	border: 0;
	height: 5px;

background:
	-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0)),
		-moz-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0)),
			-o-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0)),
				-ms-linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0)),
					linear-gradient(left, rgba(0,0,0,0), rgba(178, 34, 34, 0.75), rgba(0,0,0,0));
}

/* Тень футера */
.responsive-table,
footer {
	box-shadow: 0px 0px 15px darkslategray;
}

/* ---------------------------------------------------------------------------------- Forms Shadows */

input,
textarea,
select,
outline,
#volumeCtrl {
	box-shadow:	0px 0px 1px darkslategray inset,
		1px 1px 2px lightGreen inset,
		2px 2px 3px mistyRose inset;
}

#localItemsList tr td:hover,
#sessionItemsList tr td:hover {
		box-shadow:	0px 0px 2px 2px darkslategray,
			0px 0px 4px 4px coral,
			0px 0px 6px 6px lightgreen;
}

/* ---------------------------------------------------------------------------------- Misc Shadows */

/* -------------------------------------------------------------- Загнутые уголки для страницы */

article:before, 
article:after {
	content: ' ';
	position: absolute;
	width: 45vw;											/* размеры прозрачных полосок */
	height: 3vh;
	left: 1.5vw;											/* Расстояние от левого края для левой полоски */
	bottom: 4vh;											/* Расстояние снизу для левой полоски */
	background: transparent;								/* Левая полоска прозрачная */
	
	/* Настраиваем поворот */
	-webkit-transform: skew(-5deg) rotate(-5deg); 			
		-moz-transform: skew(-5deg) rotate(-5deg);
			-ms-transform: skew(-5deg) rotate(-5deg);
				-o-transform: skew(-15deg) rotate(-5deg);
					transform: skew(-5deg) rotate(-5deg);
	
	/* Настраиваем тень */
	-webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
			box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);

	z-index: -1; 									/* Прячем полоски под элемент с position absolute */
}

/* Правая полоска*/
article:after {
	left: auto;
	right: 1.5vw; 									/* Расстояние от правого края для правой полоски */

	-webkit-transform: skew(5deg) rotate(5deg); 									/* Задаем перекосы */
		-moz-transform: skew(5deg) rotate(5deg);
			-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
					transform: skew(5deg) rotate(5deg);
}

/* -------------------------------------------------------------- Загнутые уголки для блоков на странице */

article:before, 
article:after {
	content: ' ';
	position: absolute;
	width: 45vw;														/* размеры прозрачных полосок */
	height: 3vh;
	left: 1.5vw;											/* Расстояние от левого края для левой полоски */
	bottom: 4vh;											/* Расстояние снизу для левой полоски */
	background: transparent;

	-webkit-transform: skew(-5deg) rotate(-5deg); 					/* немного поворачиваем полоски */
		-moz-transform: skew(-5deg) rotate(-5deg);
			-ms-transform: skew(-5deg) rotate(-5deg);
				-o-transform: skew(-15deg) rotate(-5deg);
					transform: skew(-5deg) rotate(-5deg);

	-webkit-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);
			box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.8);

	z-index: -1; 									/* прячем полоски под элемент с position absolute */
}

/* Правая полоска*/
article:after {
	left: auto;
	right: 1.5vw; 									/* Расстояние от правого края для правой полоски */

	-webkit-transform: skew(5deg) rotate(5deg); 									/* задаем перекосы */
		-moz-transform: skew(5deg) rotate(5deg);
			-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
					transform: skew(5deg) rotate(5deg);
}

/* -------------------------------------------------------------- Text 3D */

.text-3d {  
	box-shadow:
	-1px 1px 0 #ddd,
	-2px 2px 0 #c8c8c8,
	-3px 3px 0 #ccc,
		-4px 4px 0 #b8b8b8,
		-4px 4px 0 #bbb,
			0px 1px 1px rgba(0,0,0,.4),
			0px 2px 2px rgba(0,0,0,.3),
			-1px 3px 3px rgba(0,0,0,.2),
				-1px 5px 5px rgba(0,0,0,.1),
				-2px 8px 8px rgba(0,0,0,.1),
				-2px 13px 13px rgba(0,0,0,.1);
}

/* FUTURE END USER STYLE */


/* ==========================================================================
   Helper classes
   ========================================================================== */
	  
/*
 * Hide visually and from screen readers:
 */

.hidden {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}




